{% extends 'base.html.twig' %}

{% block title %}Hello PersonneController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>
	</div>
</div>
<div>
	{{ form_start(form) }}
	{{ form_errors(form) }}
	<div>
		{{ form_label(form.nom, "Nom de la personne") }}
		{{ form_errors(form.nom) }}
		<div>
			{{ form_widget(form.nom) }}
		</div>
	</div>
	<div>
		{{ form_label(form.prenom, "Prénom de la personne") }}
		{{ form_errors(form.prenom) }}
		<div>
			{{ form_widget(form.prenom) }}
		</div>
	</div>
	<div>
		{{ form_rest(form) }}
	</div>
	{{ form_end(form) }}
</div>{% endblock %}
