{% extends 'base.html.twig' %}
{% block title %}Hello PersonneController!
{% endblock %}
{% block body %}
	<h1>Hello
		{{ controller_name }}!</h1>
	<a href="{{ path('only_personne_add') }}">Ajouter une personne</a>
	<ul>
		{% for personne in personnes %}
			<li>{{ personne.prenom }}
				{{ personne.nom }}
				{% if personne.adresse %}
					{{ personne.adresse.rue }}
					{{ personne.adresse.codePostal }}
					{{ personne.adresse.ville }}
				{% endif %}
				{% if personne.sports %}
					{% for sport in personne.sports %}
						{{ sport.name }}
					{% endfor %}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endblock %}
